/*///////////////// 
GOOGLE FONTS
font-family: 'Roboto', sans-serif;
weights 400, 900
font-family: 'Open Sans', sans-serif;
weights 400, 800
/////////////////*/


/*///////////////// 
COLORS 
black: #000000;
navy: #021C48;
blue: #0A2EA2;
white: #F5F5F5;
orange: #FF5200;
orange hover: #E04800;
/////////////////*/


/*///////////////// 
GENERAL STYLES 
/////////////////*/

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

header {
	text-align: center;
}

h1, h2, h3, h4, .h1 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: 900;
	font-size: 3em;
}

#home-page {
	text-decoration: none;
	color: #021C48;
}	

#home-page:hover {
}

h2, h3 {
	font-weight: 400;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.25em;
}

section {
	text-align: center;
	padding: 10px;
}

/*///////////////// 
NAVIGATION 
/////////////////*/

header h1 {
	margin: 50px 0;
}

#nav__hamburger {
	display: none;
}

.nav__links {
	border-top: 10px solid #FF5200;
}

.nav__links a {
	text-decoration: none;
	display: inline-block;
	color: #021C48;	
	text-transform: uppercase;
	margin-left: .5em;
	margin-right: .5em;
	padding: 1.96em .7em .5em;
}

.nav__links a:hover {
	background-color: #F5F5F5;
}

.nav__links a.active {
	background-color: #FF5200;
	color: #ffffff;
	font-weight: bold;
}

header a:hover {
}

@media only screen and (max-width: 850px) {
	
	#nav__hamburger {
		display: block;
		margin: 3%;
		text-align: right;
	}

	#js-toggle {
		display: none;
	}

	.nav__links a {
		display: block;
		border-bottom: 1px solid #F5F5F5;
		padding: .5em .7em;
		background-color: #FF5200;
		color: #ffffff;
		margin: 0;
		text-align: left;
		padding-left: 15px;
	}
	
	.nav__links a:hover {
		background-color: #E04800;
	}

	.nav__links a.active {
		font-weight: normal;
	}

	.nav__links {
		border: none;
	}

}
