section ul {
	list-style-type: none;
	text-align: left;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	padding: 0;
}

span.price {
	float: right;
}

/*///////////////// 
TILES
/////////////////*/

/*.tiles__outer {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.feature img {
	height: 200px;
	width: auto;
	margin: 10px;
	color: #ffffff;
}

.tiles__item {
	background: rgba(0, 0, 0, 0.09);
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
*/
/*///////////////// 
TABLET OR SMALLER
/////////////////*/

@media only screen and (max-width: 40em) {
	
	.tiles__item {
		display: block;
	}

}