<section class="feature">
	<div class="feature__copy feature__copy--left">
		<div class="feature__heading">
			<i class="fa fa-wrench fa-5" aria-hidden="true"></i>
			<h2 class="feature__title">Services</h2>
		</div>
		<p>
			Point Equipment provides small contractors in the greater Houston area access to heavy construction equipment to help them perform their work and expand their business. 
		</p>
		<p>
			Having easy access to the right equipment at a great price from a dealer that stands in support of its clients is very important.
		</p>
		<p>
			Renting from us easy. All you need is:
			<ul>
				<li>
					A valid credit card
				</li>
				<li>
					I.D. that matches credit card
				</li>
				<li>
					Certificate of insurance
				</li>
			</ul>
		</p>
		<p>
			We are committed to get you the right equipment for your job when you need it.
		</p>
		<button>
			<a href="#equipment-list" class="feature__cta">
				Shop equipment
			</a>
		</button>
	</div>
	<aside class="feature__aside feature__aside--right">
			<img src="images/trio.jpg" alt="">
	</aside>
</section>
<section class="feature">
	<aside class="feature__aside feature__aside--left">
		<img src="images/mustang-trackloader.jpg" alt="">
	</aside>
	<div class="feature__copy feature__copy--right">
		<div class="feature__heading">
			<i class="fa fa-truck fa-5" aria-hidden="true"></i>
			<h2 class="feature__title">Equipment</h2>
		</div>
		<p>
			We can provide you with diesel powered telescopic handlers to lift your materials up to the work area. The available equipment varies with lifting capacities from 6,000 lbs. or 8,000 lbs. with reaches from 36’ up to 40’.  With this equipment you can place drywall, mortar, brick, framing materials, stucco, paint and a wide variety of supplies as your job may require.
		</p>
		<p>
			We also have available diesel powered and electric powered boomlifts with platforms heights from 30’, 35’, 45’, and up to 60’ in reach. These boomlifts allow you to perform your interior or exterior work with ease and safety. The baskets accommodate a two man crew up to 500 pounds in weight. Easily reach high difficult areas for painting, framing, stucco, masonry, windows, fascia, gutters and many other tasks.
		</p>
	</div>
</section>
<section class="feature">
	<div class="feature__copy feature__copy--center">
		<h2 class="feature__title no-margin">
			Start shopping for the right rental for you.
		</h2>
		<div class="feature__title-underline"></div>
		<p>
			<em>Does your work focus more on the ground?</em>
		</p> 
		<p>
			We have available diesel powered skidsteers both tire or track style depending on your needs.
		</p> 
		<p>
			Easily move dirt or materials for ground based projects such as landscaping, plumbing, concrete, fencing, clearing and site maintenance. There are multiple accessories to make your job easier such as post hole augers, forklift attachment or concrete breakers.
		</p>
		<p>
			<em>Are you a concrete or carpentry contractor?</em>
		</p>
		<p>
			We can help. We have available gasoline powered walk-behind concrete saws, electric jack hammers, laser transits, barricades, bull float, come alongs, air compressors, gasoline powered generators, flood lamps and more.
		</p>
		<p>
			Choose the right equipment rental company for you.
		</p>
		<button>
			<a href="tel:+1-832-953-2899" class="feature__cta">
				Call us &nbsp; 832-953-2899
			</a>
		</button>
	</div>
</section>
<section class="feature" id="equipment-list">
	<div class="tiles__outer">
		<a class="tiles__item" href="/boomlifts/">
			<span class="tiles__title">Boomlifts</span>
			<img src="images/genie-z45.jpg">
		</a> 
		<a class="tiles__item" href="/telehandlers/">
			<span class="tiles__title">Telehandlers</span>
			<img src="images/gehl.jpg">
		</a> 
		<a class="tiles__item" href="/skidsteers/">
			<span class="tiles__title">Skidsteers</span>
			<img src="images/skidsteer-tile.jpg">
		</a> 
		<a class="tiles__item" href="/trackloaders/">
			<span class="tiles__title">Track Loaders</span>
			<img src="images/mustang-tile.jpg">
		</a>
	</div>
</section>
