<section class="feature">
	<div class="feature__copy feature__copy--left">
		<i class="fa fa-wrench fa-5" aria-hidden="true"></i>
		<h2 class="feature__title">Services</h2>
		<p>
			Amigo Heavy Equipment Rental provides small contractors access to heavy construction equipment to help them perform their work and expand their business. Having easy access to the right equipment at a great price from a dealer that stands in support of its clients is very important.
		</p>
		<p>
			At Amigo Heavy Equipment Rental we make renting from us easy. Just provide a valid credit card for payment, I.D. that matches the credit card and a certificate of insurance and you are ready to go. All of the processing can be done by telephone, fax or email.
		</p>
		<p>
			We are committed to get you the right equipment for your job when you need it.
		</p>
	</div>
	<aside class="feature__aside feature__aside--right">
			<img src="images/genie-z60-34(1).jpg">
	</aside>
</section>
<section class="feature">
	<aside class="feature__aside feature__aside--left">
			<img src="images/genie-z60-34(1).jpg">
	</aside>
	<div class="feature__copy feature__copy--right">
		<i class="fa fa-truck fa-5" aria-hidden="true"></i>
		<h2 class="feature__title">Equipment</h2>
		<p>
			We can provide you with diesel powered telescopic handlers to lift your materials up to the work area. The available equipment varies with lifting capacities from 6,000 lbs. or 8,000 lbs. with reaches from 36’ up to 40’.  With this equipment you can place drywall, mortar, brick, framing materials, stucco, paint and a wide variety of supplies as your job may require.
		</p>
		<p>
			We also have available diesel powered and electric powered manlifts with platforms heights from 30’ 35’ 45’ and up to 60’ in reach. These manlifts allow you to perform your interior or exterior work with ease and safety. The baskets accomadate a 2 man crew up to 500 lbs. in weight. Easily reach high difficult areas for painting, framing, stucco, masonry, windows, fascia, gutters and many other tasks.
		</p>
	</div>
</section>
<section class="feature">
	<div class="feature__copy feature__copy--center">
		<h2 class="feature__title no-margin">Start shopping for the right rental for you.</h2>
		<div class="feature__title-underline"></div>
		<p>
			Does your work focus more on the ground? We have available diesel powered skidsteers both tire or track style depending on your needs.
		</p> 
		<p>
			Easily move dirt or materials for ground based projects such as landscaping, plumbing, concrete, fencing, clearing and site maintenance. There are multiple accessories to make your job easier such as post hole augers, forklift attachment or concrete breakers.
		</p>
		<p>
			Are you a concrete or carpentry contractor? We can help. We have available gasoline powered walk-behind concrete saws, electric jack hammers, laser transits, barricades, bull float, come alongs, air compressors, gasoline powered generators, flood lamps and more.
		</p>
		<p>
			Choose the right equipment rental company for you.
		</p>
		<button>Choose Amigo</button>
	</div>
</section>
<section class="feature">
	<div class="tiles__outer">
		<a class="tiles__item" href="/equipment/manlifts/">
			<span class="tiles__title">Manlifts</span>
			<img src="images/genie-z60-34(1).jpg">
		</a> 
		<a class="tiles__item" href="/equipment/telehandlers/">
			<span class="tiles__title">Telehandlers</span>
			<img src="images/jcb-508-40(1).jpg">
		</a> 
		<a class="tiles__item" href="/equipment/skidsteers/">
			<span class="tiles__title">Skidsteers</span>
			<img src="images/genie-z60-34(3).jpg">
		</a> 
		<a class="tiles__item" href="/equipment/scissorlifts/">
			<span class="tiles__title">Scissor Lifts</span>
			<img src="images/mustang1.jpg">
		</a>
		<a class="tiles__item" href="/equipment/concrete/">
			<span class="tiles__title">Concrete Equipment</span>
			<img src="images/mustang2.jpg">
		</a> 
	</div>
</section>
