<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/equipment.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900|Open+Sans:400,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Point Equipment Rental</title>
</head>
<body>
  <header>
    
    <nav class="nav__links" id="js-toggle">
      <a href="/boomlifts/">Boomlifts</a>
      <a href="/telehandlers/">Telehandlers</a>
      <a href="/skidsteers/">Skidsteers</a>
      <a href="/scissorlifts/">Scissor Lifts</a>
      <a href="/concrete/">Concrete Equipment</a>
    </nav>
    
    <i class="fa fa-bars fa-3" id="nav__hamburger"></i>
    
    <h1>
      <a href="/" class="nav__title" id="home-page">
        Point Equipment Rental
      </a>
    </h1>

  </header>

  <%= yield %>

</body>
</html>


