<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/equipment.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900|Open+Sans:400,800' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Amigo's Rental Equipment</title>
</head>
<body>
  <header>
    <h1><a href="/" id="home">Amigo's Heavy Equipment Rental</a></h1>
    <nav class="nav__links">
      <a href="/manlifts/">Manlifts</a>
      <a href="/telehandlers/">Telehandlers</a>
      <a href="/skidsteers/">Skidsteers</a>
      <a href="/scissorlifts/">Scissor Lifts</a>
      <a href="/concrete/">Concrete Equipment</a>
    </nav>
  </header>
  <%= yield %>
</body>
</html>


