<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/equipment.css">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="icon" type="image/png" href="images/favicon-truck.png">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900|Open+Sans:400,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Point Equipment Rental</title>
  <meta name="description" content="Heavy Equipment Rentals in Houston - Boomlifts, Telehandlers, Skidsteers, and Track Loaders">
  <meta name="keywords" content="equipment rentals in Houston TX, Tomball Texas, Construction, Construction Rentals, Lifts, Used Equipment, heavy equipment, Forklift, forklifts, skid steers, scissor lifts, boom lifts, telehandler, boomlift, manlift, Houston, heavy equipment rentals in houston, point equipment rental, rento equipo, machine rental, manlift, construction equipment">
  <meta property="og:title" content="Rent Heavy Equipment | Point Equipment Rental | Rento Equipo">
  <meta name="og:description" content="Heavy Equipment Rentals in Houston - Boomlifts, Telehandlers, Skidsteers, and Track Loaders">
  <meta property="og:site_name" content="Point Equipment Rental">
  <meta property="og:url" content="http://www.point-equipment.com">
</head>
<body>
  <header>
    <nav class="nav__links" id="js-toggle">
      <a href="/boomlifts/">
        Boomlifts
      </a>
      <a href="/telehandlers/">
        Telehandlers
      </a>
      <a href="/skidsteers/">
        Skidsteers
      </a>
      <a href="/trackloaders/">
        Track Loaders
      </a>
    </nav>
    <i class="fa fa-bars fa-3" id="nav__hamburger"></i>
    <h1>
      <a href="/" class="nav__title" id="home-page">
        Point Equipment Rental
      </a>
    </h1>
  </header>

  <%= yield %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100844550-1', 'auto');
    ga('send', 'pageview');

  </script>

</body>
</html>


